doctype !

html(lang="ru")
    head
        title 4A Group: Revolution WEB.
        meta( charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link( href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet")
        link( rel="stylesheet" href="css/MainCss.css")
    body
        .allContent__wrapper
            .allContent
                //include header/header.pug
                //include inputSend/inputSend.pug
                block content

        footer
            // include footer/footer.pug
            // script(rel="script" src="script/jquery-2.2.3.min.js")
            //script(rel="script" src="script/mainJS.js")

