@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Light.ttf');

  font-weight: 100;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Medium.ttf');

  font-weight: 300;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Regular.ttf');

  font-weight: normal;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-SemiBold.ttf');

  font-weight: 500;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Bold.ttf');

  font-weight: bold;

  font-style: normal;
}


$indent: 7.5;

$first: #faa;
$font-size: 16;


$mainFont: 'Poppins';

$oneColor: #aac1ff;
$twoColor: #2c7c63;
$threeColor: #144937;
$fourColor: #141416;

$primaryColor: $oneColor;
$secondColor: $twoColor;



