extends blocks/MainLayout.pug
block content
    .menu.menu_row
        .menu__list
            a(href="#").menu__link.menu__link_border_solid_1.menu__link_border_color test
        .menu__list
            a(href="#").menu__link.menu__link_border_dotted_2.menu__link_border_color test
        .menu__list
            a(href="#").menu__link.menu__link_border_dashed_3.menu__link_border_color test
        .menu__list
            a(href="#").menu__link.menu__link_border_solid_4.menu__link_border_color test
        .menu__list
            a(href="#").menu__link.menu__link_border_solid_5.menu__link_border_color test
        .menu__list
            a(href="#").menu__link.menu__link_border_solid_6.menu__link_border_color test


            
    form.form
        .form__button
            button(type='button').btn Кнопка
        .form__button
            a(href="#").btn Кнопка



    h1 Grid

    .grid.grid_row
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x10
            .grid__content.grid__content_border_solid_3.grid__content_border_color test

        .grid__element.grid__element_width_100x50x20
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x80
            .grid__content.grid__content_border_solid_3.grid__content_border_color test

        .grid__element.grid__element_width_100x50x30
            .grid__content.grid__content_border_solid_3.grid__content_border_color test
        .grid__element.grid__element_width_100x50x70
            .grid__content.grid__content_border_solid_3.grid__content_border_color test

